@use "../variables/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem 2.4rem 6.4rem 2.4rem;

  @include mq(tablet) {
    padding: 4rem 4rem 6.1rem 3.9rem;
  }

  @include mq(laptop) {
    padding: 5.5rem 4rem 8.3rem 7rem;
  }

  @include mq(desktop) {
    padding: 5.5rem 0 8.3rem 0;
  }

  &-img {
    width: 4rem;
    height: 4rem;
  }
}
